@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Gasoek+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


body {
    font-family: 'Noto Sans', sans-serif;
    /* overflow-x: hidden; */

}

.container {
    max-width: 1180px;
    margin-inline: auto;
    padding-inline: 20px;
    overflow: hidden;

}

/* NavBar */
.navbar li {
    list-style: none;
    display: inline-block;
    margin: 10px;
    padding: 10px;
}

.nav-link {
    color: #ffffff;
    text-decoration: none;
    font-size: 1rem;
}

.nav-link:hover {
    text-decoration: underline;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.background {
    background-color: #404eed;
    width: 100%;
}

.logo {
    height: 34px;
    width: 124px;

}

.logo {
    background-image: url(asset\ 18.svg);
    filter: invert(100%);
}

.primarybtn {
    background-color: #ffffff;
    color: #23272a;
    text-decoration: none;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
    width: 60px;
}

.secondrybtn {
    background-color: #23272a;
    color: #ffffff;
    text-decoration: none;
    border-radius: 40px;
    padding: 10px;
    font-size: 16px;
    width: 60px;
}

.primarybtn:hover {
    color: #404eed;
}

/* Main */

.background-1 {
    height: 79%;
    max-width: 100vw;
    background-color: #404eed;
    position: relative;
}

.img1 {
    background: url(assets/asset\ 1.svg);
    background-repeat: no-repeat;
    position: relative;
    z-index: 0;
    max-width: 100vw;

}

#imagesection {
    display: flex;
    justify-content: space-between;

    column-gap: 500px;

}

.heading {
    font-family: 'Gasoek One', sans-serif;
    letter-spacing: 5px;
    font-size: 3.5rem;
    font-weight: 400;
    text-align: center;
    color: #ffffff;
    z-index: 3;
}

.headingpgh {
    text-align: center;
    font-size: 20px;
    padding-inline: 120px;
    color: #ffffff;
    margin-top: 10px;
    z-index: 3;
}

.btn {
    text-align: center;
}

.backimg {
    /* background-position: left; */
    background: url(assets/asset\ 1.svg);
    background-repeat: no-repeat;
    /* background-size:100%; */
    /* position: absolute;
    top: 0;
    bottom: 0;
    left: 0;   */
    /* margin-left:-250px; */
    height: auto;
    max-width: 50%;
    align-self: flex-start;
    /* margin-right: 200px; */

}

#back2img {
    /* background-size:contain; */
    /* background-position: left; */
    /* position: absolute;
    bottom: 0;
    right: 0;
    margin-right:-200px; */
    /* display: block; */
    height: auto;
    max-width: 50%;
    margin-right: 200px;
}

#back3img img {
    /* background-size:contain; */
    /* background-position: left; */
    position: absolute;
    bottom: 0;
    max-width: 100%;
    /* overflow: hidden;    max-width: 100%; */
    /* margin-right:-200px; */
}

.content {
    /* display: grid; */
    display: flex;
    /* border: 1px solid black; */
    flex-direction: column;
    padding: 120px 40px;
    z-index: 3;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
}

.buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    align-content: center;

}

.btn1 {
    width: 300px;
    height: 50px;
    font-size: 1.2rem;
    background-color: #ffffff;
    border-radius: 30px;
    text-align: center;
    text-decoration: none;
    z-index: 3;
    padding: 10px;
}

.btn1 img {
    vertical-align: middle;
}

.btn2 {
    text-align: center;
    padding: 10px;
    color: #ffffff;
    text-decoration: none;
    height: 50px;
    font-size: 1.2rem;
    width: 300px;
    background-color: #23272a;
    border-radius: 30px;
    /* max-width: 200px; */
    z-index: 3;
}

/* Features */

.featureimg img {
    max-width: 50vw;
}

.feature {
    display: flex;
    align-items: center;
    column-gap: 80px;
    padding: 120px 20px;

}

.featureheading {
    font-size: 2.5rem;
    color: #23272a;
}

.featuredesc {
    font-size: 1.1rem;
    padding-block: 20px;
    line-height: 30px;
}

.featuresecond {
    display: flex;
    align-items: center;
    column-gap: 40px;
}

.feature2back {
    background-color: #f6f6f6;
    height: 90vh;
    max-width: 100vw;
    padding: 120px 40px;
}

/* ctn */

.back4img {
    background-color: #f6f6f6;
    min-height: 200vh;
}

.ctnheader {
    text-align: center;
    font-size: 2.5rem;
    letter-spacing: 2px;
    font-family: 'Poppins', sans-serif;
}

.ctndesc {
    text-align: center;
    font-size: 1.2rem;
}

.ctn {
    padding-top: 120px;
    padding-inline: 40px;
    padding-bottom: 80px;
}

.ctnimage img {
    min-height: 100vh;

}

.ctninfo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.ctnsecond {
    padding-top: 120px;
    padding-bottom: 30px;
    text-align: center;
}

.Downloadbtn {
    height: 60px;
    width: 300px;
    text-align: center;
    padding: 12px;
    color: #ffffff;
    font-size: 1.3rem;
    text-decoration: none;
    background-color: #5865f2;
    border-radius: 50px;
}

.Downloadbtn:hover {
    background-color: #6d79f9;

}


/* footer */

.footerclass {
    display: flex;
    justify-content: end;
    align-items: first baseline;
    gap: 130px;
    padding: 30px;
}

h4 {
    color: #5865f2;
}

.footerclass li {
    list-style: none;
    line-height: 30px;
    color: #ffffff;
}

hr {
    border: 1px solid blue;
}

/* .Resources{
    display: flex;
    flex-direction: column;
} */

.btn56 {
    border-radius: 20px;
    background-color: #404eed;
    width: 100px;
    font-size: 1rem;
    height: 50px;
}

footer {
    background-color: #23272a;
    /* min-height: 70%; */
}

.logod {
    display: flex;
    justify-content: space-between;
}

.Companylogo {
    display: flex;
    align-items: center;
    gap: 20px;
}

.Companylogo img {
    padding-top: 50px;
    filter: invert(100%);

}

.menubar {
    display: none;
}

@media screen and (max-width: 1024px) {
    .footerclass {
        display: flex;
        justify-content: space-between;
        align-items: first baseline;
        gap: 30px;
        padding: 10px;

    }

    .ctninfo {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        margin-bottom: 20px;
    }
}

@media screen and (max-width:768px) {
    #header {
        padding: 0%;
    }

    .heading {
        font-size: 3rem;
    }

    .headingpgh {
        font-size: 1rem;
    }

    .feature {
        display: flex;
        align-items: center;
        column-gap: 20px;
        padding: 50px 20px;

    }

    .featureheading {
        font-size: 2.5rem;
        color: #23272a;
        width: 100%;

        /* border: 1px solid; */
    }

    .featureimg {
        /* width: 1000%; */
        max-width: 50%;
    }

    .featuredesc {
        font-size: 0.9rem;
        padding-block: 10px;
        line-height: 30px;
    }

    .ctnimage img {
        min-height: 0%;
        max-width: 100%;
    }

    .back4img {
        background-color: #f6f6f6;
        min-height: 100vh;
    }

    .menubar {
        display: block;
        /* align-self:center; */
    }

    .nav {
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 100px;
        left: -100%;
        background-color: #404eed;
        line-height: 5px;
        align-items: center;
        background-color: #f6f6f6;
        z-index: 4;
        width: 100%;
        /* background-color: #ffffff; */
        color: black;
        border-radius: 8px;
    }

    .nav.active {
        left: 0%;
    }

    .nav-link {
        display: inline-block;
        direction: rtl;
        color: #23272a;

    }

    .flex {
        display: flex;
        gap: 20px;
        align-items: center;
        margin-top: 20px;
    }
}

@media screen and (max-width: 479px) {


    .footerclass {
        flex-direction: column;
        padding: 0%;
        margin: 0%;
        align-items: center;
        flex-wrap: wrap;
        text-align: center;
    }

    .ctnheader {
        font-size: 1.5rem;
      
    }

    .ctndesc {
        font-size: .9rem;
        font-weight: 100;
    }

    .feature {
        flex-direction: column;
        min-width: 100%;

    }

    .featuresecond {
        flex-direction: column-reverse;
    }

    .featureheading {
        font-size: 1.5rem;
    }

    .buttons {
        flex-direction: column;
    }

    .headingpgh {
        font-size: 10px;
       
    }

    .heading {
        font-size: 1.7rem;
        letter-spacing: 1px;
        text-align: left;
      
    }

    .headingpgh {
        text-align: start;
        font-size: 1rem;
        font-weight: 100;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        padding-inline: 0px;
        color: #ffffff;
        margin-top: 10px;
        z-index: 3;
    }

}

